@using CrudDelicious.Models
@model Dish
<h1>Welcome to CRUDelicious</h1>
<p>Add a new Dish!</p>
<a href ="/">Home</a>
<form asp-action="Create" asp-controller="Home" method="post">
    <span asp-validation-for="Name"></span>
    <label asp-for="Name"></label><br>
    <input asp-for="Name"><br>
    <span asp-validation-for="ChefId"></span>
    <label asp-for="ChefId"></label><br>
    <select asp-for="ChefId">
        
            @foreach (var c in @ViewBag.Chefs)
            {
            <option value = "@c.ChefId">@c.FirstName</option>

            }
        
    </select><br>
    <span asp-validation-for="Tastiness"></span>
    <label asp-for="Tastiness"></label><br>
    <select asp-for="Tastiness">
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
    </select><br>
    <span asp-validation-for="Calories"></span>
    <label asp-for="Calories"></label><br>
    <input asp-for="Calories"><br>
    <span asp-validation-for="Description"></span>
    <label asp-for="Description"></label><br>
    <input asp-for="Description"><br>
    <input value="Add a Dish" type="submit">    
</form>
