@using CrudDelicious.Models
@model Chef
<h1>Welcome to CRUDelicious</h1>
<p>Add new Chef!</p>
<a href ="/">Home</a>
<form asp-action="CreateChef" asp-controller="Home" method="post">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName"></label><br>
    <input asp-for="FirstName"><br>
    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName"></label><br>
    <input asp-for="LastName"><br>
    <span asp-validation-for="BirthDate"></span>
    <label asp-for="BirthDate"></label><br>
    <input type="date" asp-for="BirthDate"><br>
    <input value="Add Chef" type="submit">    
</form>
